#reset{
    display:none;
}
#done{
    display:none;
}

#questionBlock{
    display:none;
}

#timer{
    margin-top: 10px;
    margin-bottom: 10px;
}










/* //..sandbox/tester.js */







































































